<ion-view>
  <ion-content id="content">
    <div id="homemap" data-tap-disabled="true"></div>

    <div id="float-button" class="float-button" ng-click="takeMeasurement()">
      <a href="#" class="float-button-content"><i class="ion-plus"></i></a>
      <div id="float-button-message" class="float-button-message">New Measurement</div>
    </div>

    <ul id="temp" class="tab">
      <li><a ng-click="centerOnMe()"
        class="button button-icon icon ion-navigate">Find Me</a></li>
    </ul>

    <div id="not-connected-status" class="sensor-status-box"><b>Windoo Sensor Not Connected</b></div>
    <div id="connected-status" class="sensor-status-box"><b>Windoo Sensor Connected (Calibration Required)</b></div>
    <div id="calibrated-status" class="sensor-status-box"><b>Windoo Sensor Calibrated</b></div>

  </ion-content>
</ion-view>
