<ion-view>
  <ion-content id="content">
    <div id="map" data-tap-disabled="true"></div>
    <div><button id="info-list-button-history" class="info-list-button" onclick="openNav(0)"><b>History</b></button></div>
    <div><button id="info-list-button-measurement" class="info-list-button" onclick="openNav(1)"><b>Measurements</b></button></div>

    <div id="float-button" class="float-button" ng-click="takeMeasurement()">
      <a href="#/tab/measure" class="float-button-content"><i class="ion-plus"></i></a>
      <div id="float-button-message" class="float-button-message">New Measurement</div>
    </div>

    <div id="center-on-me">
      <a ng-click="centerOnMe()"
        class="button button-icon icon ion-navigate">Find Me</a>
    </div>

    <select id="map-overlay-select" onchange="filterMarkers(this.value);">
      <option class="select-data-option" value="default" selected>Default</option>
      <option class="select-data-option" value="test1">test1</option>
      <option class="select-data-option" value="test2">test2</option>
      <option class="select-data-option" value="test3">test3</option>

      <!-- TEST -->
      <option value="all">all</option>
    </select>

    <div id="not-connected-status" class="sensor-status-box"><b>Windoo Sensor Not Connected</b></div>
    <div id="connected-status" class="sensor-status-box"><b>Windoo Sensor Connected (Calibration Required)</b></div>
    <div id="calibrated-status" class="sensor-status-box"><b>Windoo Sensor Calibrated</b></div>

    <!-- HISTORY LIST - SLIDE RIGHT -->
    <div id="info-list-history" class="info-list">
      <a href="javascript:void(0)" class="info-list-close" onclick="closeNav(0)"><button class="info-list-close-button"><b>Close</b></button></a>
      <div id="history-list">
      </div>
    </div>

    <!-- MEASUREMENTS LIST - SLIDE LEFT -->
    <div id="info-list-measurement" class="info-list">
      <a href="javascript:void(0)" class="info-list-close" onclick="closeNav(1)"><button class="info-list-close-button"><b>Close</b></button></a>
      <wind-disp id="measurement-list-first" class="measurement-list-reading"></wind-disp>
      <temp-disp class="measurement-list-reading"></temp-disp>
      <humd-disp class="measurement-list-reading"></humd-disp>
      <pres-disp class="measurement-list-reading"></pres-disp>
    </div>

    <!-- LIST MASKS -->
    <div id="list-mask" class="list-mask"></div>
  </ion-content>
</ion-view>
