<ion-view>
    <ion-content id="content"  scroll="false">
        <div id="mapMenu" class="main-menu" onclick="switchMenu( this, 'SubMenu' )">Data Source&nbsp&#9660
            <ul id="SubMenu" class="sub-menu" style="display:none;">
                <li><a onclick="getCWBforecast()">CWB Forecast</a></li>
                <li><a onclick="getCWBstation()">CWB Station</a></li>
                <li><a onclick="getCOOKDATA()">NTU AS</a></li>
            </ul>
        </div>
        <div id='maps' ng-controller="MapCtrl"></div>
    </ion-content>
</ion-view>
