<ion-view>
    <ion-content class="measure_view_content has-tabs-top">
        <div class="measure_view_container">
            <div class="sensor_bar row">

                <a class="col button measure_view_button">
                    <span id="sensor-status">Sensor calibrated</span>
                </a>
                
                <a class="col button measure_view_button">Equilibrium</a>
            </div>
            <div class="timed_measurement_bar row">
                <a class="col button measure_view_button">Timed measurement</a>
            </div>
            <div class="measurement_bar row">
                <a class="col button measure_view_button">Wind direction</a>
                <a class="col button measure_view_button">Weather type</a>
                <a class="col button measure_view_button">Send</a>
            </div>
            <div class="measure_view_disp">
                AAAAA
            </div>
        </div>
    </ion-content>
</ion-view>
