<ion-view>
  <ion-content>

    <div id="measure-test-screen" class="card">
      <form id="measure-form">
        <div class="temp-list">
          <label class="item-input">
            <span class="input-label">Latitude: </span>
            <input id="user-lat" name="userLat" type="text">
          </label>

          <label class="item-input">
            <span class="input-label">Longitude: </span>
            <input id="user-long" name="userLong" type="text">
          </label>

          <label class="item-input">
            <span class="input-label">Description: </span>
            <input id="user-desc" name="userDesc" type="text">
          </label>
        </div>

        <input class="form-button" type="submit" onclick="tempStuff()" value="Submit">
      </form>
    </div>

    <div id="measure-calibration-screen" class="card">
      <div>Test 1</div>
      <!-- INSERT ACTUAL CONTENT HERE -->
    </div>

    <div id="measure-test2-screen" class="card">
      <div>Test 2</div>
      <!-- INSERT ACTUAL CONTENT HERE -->
    </div>

    <div id="measure-test3-screen" class="card">
      <div>Test 3</div>
      <!-- INSERT ACTUAL CONTENT HERE -->
    </div>

  </ion-content>
</ion-view>
