<ion-view>
  <ion-content>
    <div id="settings-list" class="list">
      <ul>
        <li id="first-settings-item"><a href="#/tab/settings" class="settings-item"><b>placeholder</b></a></li>
        <li><b>placeholder</b></a><label class="toggle-switch"><input type="checkbox"><div class="slider"></div></label></li>
        <li><b>placeholder</b></a><label class="toggle-switch"><input type="checkbox"><div class="slider"></div></label></li>
        <li><a href="#/tab/settings" class="settings-item"><b>placeholder</b></a></li>
      </ul>
    </div>
  </ion-content>
</ion-view>
