<ion-tabs id="content-tabs" class="tabs-top tabs-icon-top tabs-dark">
  <ion-tab title="Map" icon="icon ion-android-map" href="#/tab/home">
    <ion-nav-view name="home-view"></ion-nav-view>
  </ion-tab>

  <ion-tab title="Windoo" icon="icon ion-ios-cloud" href="#/tab/weather">
    <ion-nav-view name="weather-view"></ion-nav-view>
  </ion-tab>


  <ion-tab title="Measure" icon="icon ion-android-stopwatch" href="#/tab/measure">
    <ion-nav-view name="measure-view"></ion-nav-view>
  </ion-tab>

  <ion-tab title="Settings" icon="icon ion-ios-gear" href="#/tab/settings">
    <ion-nav-view name="settings-view"></ion-nav-view>
  </ion-tab>

  <ion-tab title="User" icon="icon ion-person" href="#/tab/user">
    <ion-nav-view name="user-view"></ion-nav-view>
  </ion-tab>
</ion-tabs>

<!-- <div is="map"></div>
<script async defersrc="http://maps.googleapis.com/maps/api/js?callback=initMap"></script> -->
