<ion-view align='center'>
    <ion-header-bar class="bar bar-positive" align="center">
         <h1 class="title" align="center">User Information</h1>
    </ion-header-bar>
    <ion-content>
        <div style="padding:22px;"></div>
        <div  ng-controller="infoCtrl">
            <div class="card">
                <div class="item">
                    <h1>{{username}}</h1>
                </div>
            </div>
            <div class="list card">
                <a href="#" class="item item-icon-left">
                    <i class="icon ion-person"></i>
                    {{userid}}
                </a>
                <a href="#" class="item item-icon-left">
                    <i class="icon ion-email"></i>
                    {{email}}
                </a>
                <a href="#" class="item item-icon-left">
                    <i class="icon ion-podium"></i>
                    Total Send <strong>{{record}}</strong> Data
                </a>
            </div>
        </div>

        <div align='right' style='padding: 0px 15px 0px 0px'>
            <button class="button button-light button-outline" onclick="logOut()">Log Out</button>
        </div>

  </ion-content>

</ion-view>
