<ion-view align='center'>
    <ion-content>
        <ion-bar class="bar bar-positive" align="left">
             <h1 class="title" align="center">{{"USERLOGIN" | translate}}</h1>
        </ion-bar>
        <div style="padding:40px;"></div>
        <div>
            <p>{{"SIGNUPCHECK" | translate}}</p>
        </div>
        <br/>
        <!-- js in user.js -->
        <button class="button button-assertive" onclick="resetSignUp()">{{"RESETSIGNUP" | translate}}</button>';
        <a class="button button-light" href="#/tab/user">{{"GOLOGIN" | translate}}</a>
  </ion-content>

  </ion-content>

</ion-view>
