<ion-view>
  <ion-content>

    <!-- <form id="user-form">
      <div class="login-list">
        <label class="item-input">
          <span class="input-label"><b>User ID: </b></span>
          <input name="username" type="text" placeholder="123456789" onfocus="this.placeholder=''" onblur="this.placeholder='123456789'">
        </label>

        <label class="item-input">
          <span class="input-label"><b>Password: </b></span>
          <input name="password" type="text" placeholder="password" onfocus="this.placeholder=''" onblur="this.placeholder='password'">
        </label>
      </div>

      <input class="form-button" type="submit" onclick="moreTempStuff()" value="Submit">
    </form> -->

    <div id="user-view-container">

        <div id="user-summary">
            <div class="row">
                <div class="col col-25">Name:</div><div class="col col-75 user-name">   </div>
            </div>
            <div class="row">
                <div class="col col-25">Email:</div><div class="col col-75 user-email">   </div>
            </div>
        </div>

        <a id="facebook-sign-in" class="button" onclick="facebookLogin()">
            Log in with Facebook
        </a>

    </div>

    <img src="img/snoop_diggity_dogg.gif" />

  </ion-content>

</ion-view>
