<ion-view align='center'>
    <ion-content>
        <ion-bar class="bar bar-positive" align="left">
             <h1 class="title" align="center">User Log In</h1>
        </ion-bar>
        <div style="padding:40px;"></div>
        <div>
            <p>Your account has been made, please verify it by clicking the activation
                link that has been send to your email.</p>
        </div>
        <br/>
        <!-- js in user.js -->
        <button class="button button-assertive" onclick="resetSignUp()">Reset Sign Up</button>';
        <a class="button button-light" href="#/tab/user">Go Logging In</a>
  </ion-content>

  </ion-content>

</ion-view>
