<ion-view>
  <ion-content>

    <form id="user-form">
      <div class="login-list">
        <label class="item-input">
          <span class="input-label"><b>User ID: </b></span>
          <input name="username" type="text" placeholder="123456789" onfocus="this.placeholder=''" onblur="this.placeholder='123456789'">
        </label>

        <label class="item-input">
          <span class="input-label"><b>Password: </b></span>
          <input name="password" type="text" placeholder="password" onfocus="this.placeholder=''" onblur="this.placeholder='password'">
        </label>
      </div>

      <input class="form-button" type="submit" onclick="moreTempStuff()" value="Submit">
    </form>

    <img src="img/snoop_diggity_dogg.gif" />

  </ion-content>

</ion-view>
