<ion-view align='center'>
    <ion-header-bar class="bar bar-positive" align="center">
         <h1 class="title" align="center">User Log In</h1>
    </ion-header-bar>
    <ion-content>
        <div  ng-controller="logInFormCtrl">
          <div style="padding:22px;"></div>
          <form name="myForm" novalidate>
              <label class="item item-input-inset">
                  <span class="input-label" >User ID</span>
                  <input type="text" ng-model="userid" name="userid"  ng-minlength='3' required>
              </label>
              <label class="item item-input-inset">
                  <span class="input-label" >Password</span>
                  <input type="password" ng-model="password" name="passwd" ng-minlength='6' required>
              </label>
              <button class="button button-positive  button-block"
                      ng-disabled=
                  " myForm.userid.$invalid || myForm.passwd.$invalid"
                   ng-click="submitLogIn()"
                      >Submit</button>
          </form>
      </div>
      <div align="right">
          <a id="facebook-sign-in" class="button button-light button-outline" onclick="facebookLogin()">
              Log in with Facebook
          </a>
          <a class="button button-light button-outline" href="#/signUp">Sign Up</a>
      </div>
      <br/>
      <div id="showStatus"></div>

  </ion-content>


  </ion-content>

</ion-view>
