<ion-view align='center'>
    <ion-header-bar class="bar bar-positive" align="center">
         <h1 class="title" align="center">User Sign Up</h1>
    </ion-header-bar>
    <ion-content>
        <div style="padding:35px;"></div>
        <div>
            <p>Your account has been made, please verify it by clicking the activation
                link that has been send to your email.</p>
        </div>
        <!-- js in user.js -->
        <br/>
        <button class="button button-assertive" onclick="resetSignUp()">Reset Sign Up</button>';
        <a class="button button-light" href="#/tab/user">Go Logging In</a>
  </ion-content>

  </ion-content>

</ion-view>
