<ion-view>

    <ion-content id="weather-content">

        <div id="weather-container">

            <windoo-status-bar id="windoo-status-bar" class="button button-full button-assertive"></windoo-status-bar>

            <div id="sensor-readings">
                <div class="row windooRow">
                    <wind-disp class="col col-50"></wind-disp>
                    <temp-disp class="col col-50"></temp-disp>
                </div>
                <div class="row windooRow">
                    <humd-disp class="col col-50"></humd-disp>
                    <pres-disp class="col col-50"></pres-disp>
                </div>
            </div>

        </div>

    </ion-content>

</ion-view>
