<ion-view>
  <ion-content>
    <div id="weathermap" data-tap-disabled="true"></div>

    <ul id="temp" class="tab">
      <li><a ng-click="centerOnMe()"
        class="button button-icon icon ion-navigate">Find Me</a></li>
    </ul>

    <div id="sensor-readings">
        <div class="row windooRow">
            <div class="col windooContainer">
                <div class="windooTitle">Wind speed</div>
                <div class="windooUnit">m/s</div>
                <div class="windooDisplay" id="windDisplay">N/A</div>
                <i class="windooGraphIcon icon ion-arrow-graph-up-right" id="windGraphIcon"></i>
            </div>
            <div class="col windooContainer">
                <div class="windooTitle">Temperature</div>
                <div class="windooUnit">°C</div>
                <div class="windooDisplay" id="tempDisplay">N/A</div>
                <i class="windooGraphIcon icon ion-arrow-graph-up-right" id="tempGraphIcon"></i>
            </div>
        </div>
        <div class="row windooRow">
            <div class="col windooContainer">
                <div class="windooTitle">Humidity</div>
                <div class="windooUnit">%RH</div>
                <div class="windooDisplay" id="humdDisplay">N/A</div>
                <i class="windooGraphIcon icon ion-arrow-graph-up-right" id="humdGraphIcon"></i>
            </div>
            <div class="col windooContainer">
                <div class="windooTitle">Pressure</div>
                <div class="windooUnit">hPA</div>
                <div class="windooDisplay" id="presDisplay">N/A</div>
                <i class="windooGraphIcon icon ion-arrow-graph-up-right" id="presGraphIcon"></i>
            </div>
        </div>
      </div>
    </ion-content>
</ion-view>
