<ion-view>

    <ion-content id="weather-content">

        <windoo-status-bar></windoo-status-bar>

        <div id="weather-container" class="has-windoo-status-bar-top">

            <div id="sensor-readings">
                <div class="row sensor-readings-row">
                    <div class="live-data col col-50">
                        <div class='windooTitle'>{{"TEMP" | translate}}</div>
                        <div class='windooNumber' id="w_temp">N/A</div>
                        <div class="windooUnit">°C</div>
                        <div id="tempChart"></div>
                    </div>
                    <div class="live-data col col-50">
                        <div class='windooTitle'>{{"HUMD" | translate}}</div>
                        <div class='windooNumber' id="w_rh">N/A</div>
                        <div class="windooUnit">%</div>
                        <div id="humdChart"></div>
                    </div>
                </div>
                <div class="row sensor-readings-row">
                    <div class="live-data col col-50">
                        <div class='windooTitle'>{{"PRES" | translate}}</div>
                        <div class='windooNumber' id="w_pres">N/A</div>
                        <div class="windooUnit">hPa</div>
                        <div id="presChart"></div>
                    </div>
                    <div class="live-data col col-50">
                        <div class='windooTitle'>{{"WINDSPEED" | translate}}</div>
                        <div class='windooNumber' id="w_wind">N/A</div>
                        <div class="windooUnit">m/s</div>
                        <div id="windChart"></div>
                    </div>
                </div>
            </div>

        </div>

    </ion-content>

</ion-view>
