#measure-view-content {
    overflow-y: scroll;
    background-color: #23272d;
}

    #measure-view-container {
        width: 100%;
        height: 100%;
    }

        #timed_measurement_bar {
        }

        #measurement_bar {
        }

            .measure_view_button, .measure-time-button, .weather-button {
                border-radius: 0px;
                border: 1px solid #bbb;
            }

                .measurement-status {
                    font-size: 100%;
                    line-height: 100%;
                    text-align: left;
                }

                .measurement-summary {
                    font-size: 95%;
                    line-height: 95%;
                    text-align: left;
                }

    .measure_view_disp {
    }

        #measure_view_disp_content {
            /*overflow-y: scroll;*/
        }
