/* The Modal (background) */
.modal1 {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 999; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal1-content {
    position: relative;
    background-color: #fefefe;
    margin: auto;
    padding: 0;
    border: 1px solid #888;
    width: 80%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s
}

/* Add Animation */
@-webkit-keyframes animatetop {
    from {top:-300px; opacity:0}
    to {top:0; opacity:1}
}

@keyframes animatetop {
    from {top:-300px; opacity:0}
    to {top:0; opacity:1}
}

/* The Close Button */
.close {
    color: white;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.modal1-header {
    padding: 2px 5px;
    background-color: #5cb85c;
    color: white;
}

.modal1-body {
    padding: 2px 16px;
}


/* not use ionic default*/
.progress-pie-chart-mystyle{
    margin: 20px auto 10px;
}

/*start button*/
.round-button {
    position:absolute;
    top:30%;
    left:27%;
    display:block;
    width:50%;
    height:50vw;
    line-height:0vw;
    border: 6px solid #f5f5f5;
    border-radius: 50%;
    color:white;
    text-align:center;
    text-decoration:none;
    background: #464646;
    box-shadow: 0 0 3px gray;
    font-size:50px;
    font-weight:bold;
    opacity: 0.8;
}
.round-button:hover {
    opacity: 1;
    background: #262626;
}
/* --- */
/*Background*/
#measure-container {
    position: absolute;
    width: 100%;
}

#measure-background {
    position: absolute;
    top: 5px;
    bottom: 1px;
    left: 4px;
    right: 5px;
    z-index: 100;
    border: 1px solid grey;
    opacity: 0.95;
    background-image:url('../img/blue.png');
ã€€      background-repeat:no-repeat;
    /*background: -webkit-radial-gradient(circle,black,#D8D8D8);
    background: -o-radial-gradient(circle,black,#D8D8D8);
    background: -moz-radial-gradient(circle,black,#D8D8D8);
    background: radial-gradient(circle,black,#D8D8D8);*/
}
/*---*/
.setBottom{
    position: absolute;
    top: 80%;
}

.card{
  background-color: #f0f0f0;
}

.measure-title {
    margin: 3vw;
    font-size: 160%;
}

.measure_view-icon {
    font-size: 160%;
}

.measure_view-bar {
    position:relative;
    margin: 1ex;
    margin-bottom: 2ex;
}

.measure-status-icon {
    margin-right: 1em;
}

.measure-title-icon {
}

/***** Info boxes *****/

.info-box {
    padding-top: 2px;
    margin: 3vw 2vw 3vw 2vw;
    position: relative;
}

/***** Sensor card *****/

#sensor-status-box {
    text-align: center;
}

/***** Equilibrium catrd *****/

#equil-boxes {
    text-align: center;
}

.equil-box {
    width: 40%;
    display: inline-block;
    text-align: center;
}

.equil-title {
    font-size: 120%;
}

.equil-status {
    display: inline-block;
    margin-top:1ex;
    padding: 1ex;
    border-radius: 1ex;
    border: solid 2px #0c0;
}

.equil-status-icon {

}

/***** Measurement card *****/

.measure-container {
    /*margin: 1vw;*/
    /*width: 100%;*/
    /*text-align: center;*/
}

.measure-time-button-bar {
    width: 80%;
    margin: auto;
    /*font-size: 70%;*/
}

.measure-time-button {
    font-size: 100%;
    padding: 0em;
}

#timer-status {
    font-size: 120%;
    margin-top:1ex;
    text-align: center;
}

#start-button {
    display: block;
    margin: auto;
    margin-bottom:0ex;
    font-size: 150%;
}

/***** Wind direction card *****/
@import url('http://fonts.googleapis.com/css?family=Wallpoet');
.compass {
	position: relative;
	width: 260px;
	height: 260px;
	margin: 20px auto;
	background: #222;
	padding: 20px;
	border-radius: 40px;
	border: 5px solid #444;
	overflow: hidden;
}

.compass .disc {
	position: absolute;
	top: 0px;
	left: 0px;
	z-index: 200;
	background: url('../img/compass.svg');
	width: 250px;
	height: 250px;
	background-size: 100%;
}

.compass .arrow {
	position: absolute;
	top: 0px;
	left: 0px;
	z-index: 800;
	background: url('../img/arrow.svg');
	width: 250px;
	height: 250px;
	background-size: 100%;
}
/***** Weather card *****/

.weather-button-bar {
    width: 80%;
    margin: auto;
}

.weather-button {
    padding: 0px;
    font-size: 100%;
    line-height: 20px;
    text-align: center;
}

.weather-icon {
    font-size: 400%;
    text-align: center;
}

/***** Send card *****/

#send-button {
    display: block;
    margin: auto;
    margin-bottom:1ex;
    font-size: 150%;
}

#wd {
    margin: 3vw;
    font-size: 160%;
    padding:0px 0px 5px;
}

/***** IMG *****/
.geolocation {
    padding:8px 0px 18px;
    left: 5vw;
    z-index: 200;
    width: 90vw;
    height: 63vw;
    background-size: 100%;
}

.windimg {
    width: 90px;
    height: 110px;
    background-size: 100%;
}
.phoneimg {
    padding: 0px 5px;
    width: 90px;
    height: 80px;
    background-size: 100%;
}

.holdphone {
    width: 90%;
    height: 20%;
    background-size: 100%;
}
