.measure-title {
    margin: 3vw;
    font-size: 135%;
}

.measure_view-icon {
    font-size: 200%;
}

.measure_view-bar {
    position:relative;
    margin: 1ex;
    margin-bottom: 3ex;
}

.measure-status-icon {
    margin-right: 1em;
}

.measure-title-icon {
}

.toggle-button {
    position:absolute;
    right: 0%;
    /*min-height: 3ex;
    min-width: 3ex;
    height: 3ex;
    width: 3ex;*/
}

.toggle-icon {
    /*font-size: 100%;
    text-align: center;
    vertical-align: middle;*/
}

/***** Status icons *****/

.ion-checkmark-circled {
    color: #0c0;
}

.ion-alert-circled {
    color: #fb0;
}

/***** Info boxes *****/

.info-box {
    margin: 3vw 2vw 3vw 2vw;
    text-align: justify;
    position: relative;
}

/***** Sensor card *****/

#sensor-status-box {
    text-align: center;
}

#sensor-status {
    display: inline-block;
    margin-top:1ex;
    font-size:150%;
    padding: 1ex;
    border-radius: 1ex;
    border: solid 2px #0c0;
}

/***** Equilibrium catrd *****/

#equil-boxes {
    text-align: center;
}

.equil-box {
    width: 40%;
    display: inline-block;
    text-align: center;
}

.equil-title {
    font-size: 120%;
}

.equil-status {
    display: inline-block;
    margin-top:1ex;
    padding: 1ex;
    border-radius: 1ex;
    border: solid 2px #0c0;
}

.equil-status-icon {
    
}

#skip-equil-button {
    display: inline-block;
    right:0%;
    bottom: 0%;
    position: absolute;
}

/***** Measurement card *****/

.measure-container {
    /*margin: 1vw;*/
    /*width: 100%;*/
    /*text-align: center;*/
}

.measure-time-button-bar {
    width: 80%;
    margin: auto;
    /*font-size: 70%;*/
}

.measure-time-button {
    font-size: 100%;
    padding: 0em;
}

#timer-status {
    font-size: 120%;
    margin-top:1ex;
    text-align: center;
}

#start-button {
    display: block;
    margin: auto;
    margin-bottom:1ex;
    font-size: 150%;
}

/***** Wind direction card *****/

#wind-img-box {
    width: 4em;
    margin: auto;
    position:relative;
}

#wind-img {
    width: 100%;
}

#compass-box {
    width: 10em;
    margin: auto;
    position:relative;
}

#compass {
    width: 100%;
    position: relative;
    margin-top:0ex;
}

#compass-arrow {
    width: 100%;
    position: absolute;
    top:0ex;
}

#degrees-display {
    width: 100%;
    text-align: center;
    font-size: 150%;
    margin-top:1ex;
}

/***** Weather card *****/

.weather-button-bar {
    width: 80%;
    margin: auto;
}

.weather-button {
    padding: 0px;
    font-size: 100%;
    line-height: 20px;
    text-align: center;
}

.weather-icon {
    font-size: 400%;
    text-align: center;
}

/***** Send card *****/

#send-button {
    display: block;
    margin: auto;
    margin-bottom:1ex;
    font-size: 150%;
}
