#settings-list{
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%;
  background-color: #23272d;
}

#first-settings-item{
  width: 100%;
  height: 50px;
  border-bottom: 1px solid black;
  border-top: 1px solid black;
}
#settings-list li{
  display: flex;
  align-items: center;
  width: 100%;
  height: 50px;
  border-bottom: 1px solid black;
  color: #5085c8;
  font-size: 20px;
  float: left;
}

.settings-item{
  text-decoration: none;
  display: flex;
  align-items: center;
  width: 100%;
  height: 50px;
  color: #5085c8;
  cursor: pointer;
}

#clear-graphs-sett{
  cursor: pointer;
}

.sett-button{
  position: absolute;
  right: 10px;
}

.closed{
  transition: all 0.1s linear;
  transform: rotate(0deg);
}
.open{
  transition: all 0.1s linear;
  transform: rotate(-90deg);
}

.toggle-switch{
  position: relative;
  display: inline-block;
  width: 60px;
  height: 25px;
  left: 3px;
}

.toggle-switch input{display: none;}

.slider{
  position: absolute;
  visibility: visible;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 60px;
  background-color: #ccc;
  transition: 0.4s;
  z-index: 1000;
}

.slider-before{
  position: absolute;
  visibility: visible;
  content: "";
  height: 15px;
  width: 25px;
  left: 5px;
  bottom: 5px;
  background-color: white;
  transition: 0.4s;
  z-index: 1000;
}

input:checked + .slider{
  background-color: #91c653;
}

.slider-after{
  transform: translateX(25px);
}

.dropdown-content{
  display: none;
  left: 0;
  top: 100%;
}

.dropdown-content li{
  padding-left: 10px;
  background-color: #434b56;
}

.show-dropdown{
  display: block;
}
