.setting_list{
    font-size: 22px;
    padding: 10px;
}
.item_list{
    font-size: 30px;
    padding: 20px;
}
.myitem{
    padding-right: 20px;
    font-size: 20px;
}
.full{
    height:101%;
}
.hisTable{
  width: 100%;
  font-size: large;
  text-align: center;
  table-layout: fixed;
  overflow: hidden;
}

.cleanHis{
    color: white;
    background-color: lavender;
}

.uploadHis{
    background-color: lightpink;
}