
/*--- Weather Tab ---*/

.windooRow {
    height: 40vh;
}

.windooContainer {
    display: flex;
    flex-flow: column;
    margin-top:     2vh;
    margin-bottom:  2vh;
    margin-right:   2vw;
    margin-left:    2vw;
}

.windooTitle {
    font-size: 2.5vh;
    margin-top: 2vh;
    text-align: center;
}

.windooUnit {
    font-size: 2vh;
    margin-top: 2vh;
    text-align: right;
}

.windooDisplay {
    display: inline-block;
    font-size: 6vh;
    text-align:center;
    margin-top: 5vh;
    /*flex: 1 1 auto;*/
    vertical-align: middle;
}

.windooGraphIcon {
    margin-top: 5vh;
    font-size: 4vh;
    text-align: center;
}
