/*--- tabs at very top hack ---*/
.tabs-top > .tabs, .tabs.tabs-top{
  top: 0 !important;
}
.has-tabs-top {
  top: 49px !important;
}

/*--- General ---*/
.pane{

    background: #000000; /* fallback for old browsers */
    background: -webkit-linear-gradient(to top, #000000 , #434343); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to top, #000000 , #434343); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

.tabs-color, .tabs{
  background-color: #23272d !important;
  color: #5085c8 !important;
}

#map{
  width: 100%;
  height: 100%;
}

p{
    color: white;
}
/*--- SEE EACH CSS FILE FOR INDIVIDUAL TAB STYLES ---*/
