#weather-content {
    position: absolute;
    top: 0;
    bottom: 0;
}

    #weather-container {
        position: absolute;
        /*height: 100%;*/
        width: 100%;
        top: 0;
        bottom: 0;
    }

        #sensor-readings {
            position: absolute;
            top: calc(1% + 2em);
            left: 1%;
            right: 1%;
            bottom: 1%;
            z-index: 1000;
            background-color: white;
            border: 1px solid black;
            opacity: 0.95;
        }

            .windooRow{
              height: 49%;
            }
