#weather-content {
}

    #weather-container {
        position: absolute;
        width: 100%;
        height: calc(100% - 2em);
    }

        #sensor-readings {
            position: absolute;
            top: 5px;
            bottom: 5px;
            left: 5px;
            right: 5px;
            z-index: 1000;
            background-color: white;
            border: 1px solid grey;
            opacity: 0.95;
        }

            .sensor-readings-row {
              height: 49%;
            }
