#weather-content {
}

    /*windoo-status-bar*/

    #weather-container {
        position: absolute;
        width: 100%;
    }

        #sensor-readings {
            position: absolute;
            top: 5px;
            bottom: 1px;
            left: 4px;
            right: 5px;
            z-index: 100;
            background-color: white;
            border: 1px solid grey;
            opacity: 0.95;
        }

            .sensor-readings-row {
              height: 49%;
            }
