#weather-container {
    position: absolute;
    width: 100%;
}

#sensor-readings {
    position: absolute;
    top: 5px;
    bottom: 1px;
    left: 4px;
    right: 5px;
    z-index: 100;
    background-color: white;
    border: 1px solid grey;
    opacity: 0.95;
}

.sensor-readings-row {
    height: 49%;
}

.windooTitle{
    font-size: 28px;
    padding-top: 15px;
}

.windooNumber{
    font-size: 45px;
    padding-top: 25px;
}

.windooUnit{
    width: 100%;
    font-size: 20px;
    text-align: right;
    padding-top: 10px;
}

.axis path,
.axis line{
    fill: none;
    stroke: black;
}
.area {
	fill: #e74c3c;
	opacity: 0.5;
}

.line{
    fill: none;
    stroke: #e74c3c;
    stroke-width: 2px;
}

.tick text{
    font-size: 12px;
}

.tick line{
    opacity: 0.2;
}
